* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-image: url("IMG_4903.JPG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  font-family: sans-serif;
}
.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 1.2rem 3.2rem;
}
.btn {
  font-size: 1.8rem;
  outline: none;
  padding: 0.8rem 1.6rem;
  border-radius: 11px;
  cursor: pointer;
  border: none;
  background-color: aliceblue;
}
.btn--nav {
  display: flex;
  margin-left: auto;
}
.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 11px;
  background-color: transparent;
  color: white;
  padding: 2.4rem;
  backdrop-filter: blur(15px);
}
.form-title{
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 1.2rem;
  text-align: center;
}
.form label {
  display: block;
}